El fichero train.csv contiene información sobre los pasajeros del Titanic. 

Descargue el fichero train.csv en su ordenador desde
https://www.kaggle.com/c/titanic/data?select=train.csv

Suba el fichero train.csv a la carpeta sample_data de Google Colab

1. Generar un DataFrame con los datos del fichero.

In [ ]:
import pandas as pd

# Generar un DataFrame con los datos del fichero.
titanic = pd.read_csv('sample_data/train.csv', index_col=0)

print(titanic)

2. Mostrar por pantalla las dimensiones del DataFrame y el número de datos que contiene

3. Mostrar los nombres de sus columnas y filas

4. Mostrar los tipos de datos del DataFrame

5. Mostrar las 10 primeras filas y las 10 últimas filas.

6. Mostrar por pantalla los datos del pasajero con identificador 148

7. Mostrar cuántos pasajeros viajaban en el Titanic

8. Mostrar cuántos pasajeros sobrevivieron al naufragio

9. Mostrar la suma de las tarifas (columna Fare)

10. Mostrar la edad media de los pasajeros del Titanic

11. Mostrar la edad media de los pasajeros según su género

12. Mostrar las columnas de nombre y edad de los pasajeros

13. Mostrar los pasajeros mayores de 65 años

14. Mostrar por pantalla las filas pares del DataFrame.

15. Mostrar los nombres de las personas que iban en primera clase ordenadas alfabéticamente.

16. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron

17. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase

18. Eliminar del DataFrame los pasajeros con edad desconocida.

19. Mostrar la edad media de las mujeres que viajaban en cada clase.

20. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.

21. Mostrar el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

22. Añadir una columna con la longitud de caracteres del nombre del pasajero